<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.roles.first&.name %>
</p>

<p>
  <strong>Image:</strong>
  <% if @user.image.attached? %>
    <%= image_tag @user.image, size: '50x50' %>
  <% else %>
    No Image Available
  <% end %>
</p>

<%= link_to 'Edit User', edit_user_path(@user),class:"btn btn-primary" %> |
<%= link_to 'Back', users_path %>